.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.or {
    margin-top: 20px;
}

.wrapper {
    width: 500px;
    background-color: var(--bgSoft);
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* gap: 20px; */
    border-radius: 5px;
}

.github {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background-color: darkgreen;
    color: var(--text);
    cursor: pointer;
    font-weight: 500;
    border: none;
}